@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


.darkActive {
  border-bottom: 2px solid #68dfd1;
  /* background-color: aliceblue; */
}
.lightActive {
  border-bottom: 2px solid #0b786f;
}
/* Estilos personalizados para el scrollbar */
/* El ancho y el color del scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

/* El estilo del track del scrollbar */
::-webkit-scrollbar-track {
  background-color: #0a192f;
}

/* El estilo del thumb del scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #f1f1f161;
  border-radius: 5px;
}